@using OnePiece.Entities.Database
<li><a href="/Home/Index">Anasayfa</a></li>
<li><a href="/Market/Index">Market</a></li>
<li><a href="blog.html">Blog</a></li><li>
    <a href="/Home/Tayfalar">Tayfalar</a>
    @*@foreach (var item in (List<Tayfalar>)ViewBag.TayfalarMenu)
    {
        <ul class="sub-menu">
                @item.TayfaName                  
        </ul>
        
    }*@     
   
</li>
<li><a href="about.html">Hakkımızda</a></li>
<li><a href="contact.html">İletİşİM</a></li>